
@font-face {
    font-family: 'PrincessSofia-Regular';
    src: url('../fonts/PrincessSofia-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lora-Medium';
    src: url('../fonts/Lora-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-image: url("../images-other/background-new.jpeg");
    background-size: 1500px 1008.98px;
}

/* 50.528px */
h1 {
    font-family: 'PrincessSofia-Regular';
    font-size: 3.158rem;
}

/* 48.832px */
h2 {
    font-family: 'PrincessSofia-Regular';
    font-size: 39.06px;
}

/* 21.328px */
h3 {
    font-family: 'Lora-Medium';
    font-size: 1.333rem;
}

/* 14px */
p {
    font-family: 'Lora-Medium';
    font-size: 0.875rem;
}

.title {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.title__highlight {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
}

.flower1 {
    position: absolute;
    left: 678px;
    top: 200px;
    z-index: 100;
    cursor:pointer;
}

.flower2 {
    position: absolute;
    left: 780px;
    top: 230px;
    z-index: 100;
    cursor:pointer;
}

.flower3 {
    position: absolute;
    left: 855px;
    top: 300px;
    z-index: 100;
    cursor:pointer;
}

.flower4 {
    position: absolute;
    left: 882px;
    top: 400px;
    z-index: 100;
    cursor:pointer;
}

.flower5 {
    position: absolute;
    left: 855px;
    top: 502px;
    z-index: 100;
    cursor:pointer;
}

.flower6 {
    position: absolute;
    left: 780px;
    top: 577px;
    z-index: 100;
    cursor:pointer;
}

/* bottom middle flower */
.flower7 {
    position: absolute;
    left: 678px;
    top: 605px;
    z-index: 100;
    cursor:pointer;
}

.flower8 {
    position: absolute;
    left: 577px;
    top: 577px;
    z-index: 100;
    cursor:pointer;
}

.flower9 {
    position: absolute;
    left: 500px;
    top: 502px;
    z-index: 100;
    cursor:pointer;
}

.flower10 {
    position: absolute;
    left: 475px;
    top: 400px;
    z-index: 100;
    cursor:pointer;
}

.flower11 {
    position: absolute;
    left: 502px;
    top: 300px;
    z-index: 100;
    cursor:pointer;
}

.flower12 {
    position: absolute;
    left: 577px;
    top: 225px;
    z-index: 100;
    cursor:pointer;
}

.circle-icon:hover {
    transform:translateY(-3px);
}

.flower-img {
    margin: 0 auto;
    position: absolute;
    z-index: 90;
    display: flex;
    align-content: center;
    justify-content: center;
}

.flower-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
    top: 190px;
}

button {
    display: flex;
    border: none;
	border-radius:20px;
	cursor:pointer;
    width: 160px;
    height: 30px;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
}

.input-bday {
	border: #000 solid 1px;
	border-radius:20px;
    padding: 4px 0;
    background-color:#FAEFCC;
    width: 160px;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.input-bday:hover {
    color: #000;
    box-shadow: 3px 3px 0 #DC8E91; 
}

.button-submit {
    background-color:#FFF1C6;
    border: #000 solid 1px;
    color: rgba(0, 0, 0, 0.6);
    width: 160px;
}

.button-submit:hover {
    box-shadow: 3px 3px 0 #DC8E91; 
}

.button-back {
    background-color: #FFFFF8;
    border: #000 solid 1px;
}

.button-submit:hover {
    color: #000;
}

.flower-section {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-left: 20%;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 450px;
}

.modal-section {
    display: flex;
    justify-content: center;
    position: relative;
    align-content: center;
    top: -152px;
    left: 494px;
    border-radius: 50%;
    height: 450px;
    width: 450px;
    background-color: aqua;
    z-index: 200;
    animation: fadeIn .15s ease-in forwards;
    opacity: 0;
}

.modal-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.modal-title {
    text-align: center;
}

.modal-name {
    margin-top: 0px;
    margin-bottom: 16px;
}

.modal-date {
    margin-top: 0px;
    margin-bottom: 16px;
}

.modal-content {
    text-align: left; 
    margin-top: 0; 
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    max-width: 380px;
    padding-left: 30px;
    padding-right: 30px;
}

.modal-tags {
    margin-top: 0;
    margin-bottom: 16px;
}

.modal-description {
    display: flex;
    align-items: center;
    line-height: 1.5;
    max-width: 400px;
    justify-content: center;
    text-align: left;
}

.modal-text {
    margin-top: 0;
    /* margin-bottom: 16px; */
    margin-right: 5px;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


.sunModal {
    position: absolute;
    /* top: 0;
    left: 1140px; */
    margin-top: 275px;
    max-width: 240px;
    background-color: #FCD847;
    padding: 10px;
    float: right;
    max-height: 240px;
    animation: fadeIn .15s ease-in forwards .15s;
    opacity: 0;
}

.button-close-sun {
    max-width: 100px;
    background-color:#FAEFCC;
    border: #000 solid 1px;
}

.button-close-sun:hover {
    box-shadow: 3px 3px 0 #DC8E91; 
}

.column-right {
    display: flex;
    width: 20%;
    height: 100%;
    flex-direction: column;
    float: right;
    cursor: pointer;
}

.sun-content__text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 150;
    width: 240px;
    height: 240px;
    text-align: left;
    margin-left: 0;
}

.sun-img {
    position: absolute;
    z-index: 100;
    width: 240px;
    height: 240px;
    margin: 0 auto;
}

[hidden] {
	display: none !important;
}