@font-face {
    font-family: 'Lora-Bold';
    src: url('../fonts/Lora-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lora-BoldItalic';
    src: url('../fonts/Lora-BoldItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lora-Italic';
    src: url('../fonts/Lora-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lora-BoldRegular';
    src: url('../fonts/Lora-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PrincessSofia-Regular';
    src: url('../fonts/PrincessSofia-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-image: url("../images-other/background-new.jpeg");
    background-size: 1280px 861px;
}

.highlight {
    background-color: rgba(255, 255, 255, 0.8);
}

h1 {
    font-family: 'PrincessSofia-Regular';
    font-size: 3.158rem;
}

h2 {
    font-family: 'Lora-Bold';
    font-size: 1.333rem;
}

p {
    font-family: 'Lora-Bold';
    font-size: 1rem;
}

.top {
    text-align: center;
}
  
/* .middle {
        position: relative;
        width: 561.25px;
        height: 546px;
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 50%;
        transform: rotate(0deg);
        transition: transform 0.7s linear;
        margin: 0 auto;
} */

.flower {
    text-align: center;
}

.birthday {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flower1 {
    position: absolute;
    left: 675px;
    top: 185px;
}

.flower2 {
    position: absolute;
    left: 787px;
    top: 213px;
}

.flower3 {
    position: absolute;
    left: 875px;
    top: 290px;
}

.flower4 {
    position: absolute;
    left: 905px;
    top: 390px;
}

.flower5 {
    position: absolute;
    left: 875px;
    top: 505px;
}

.flower6 {
    position: absolute;
    left: 787px;
    top: 580px;
}

/* bottom middle flower */
.flower7 {
    position: absolute;
    left: 675px;
    top: 615px;
}

.flower8 {
    position: absolute;
    left: 570px;
    top: 580px;
}

.flower9 {
    position: absolute;
    left: 480px;
    top: 505px;
}

.flower10 {
    position: absolute;
    left: 455px;
    top: 390px;
}

.flower11 {
    position: absolute;
    left: 475px;
    top: 290px;
}

.flower12 {
    position: absolute;
    left: 565px;
    top: 213px;
}